In [18]:
import pandas as pd

# Data Accuracy is an important as understanding the technical nuisance that you as a Data analyst Suppose do
E.g handling Null values incorrectly

In [2]:
import zipfile, os
from pathlib import Path

# Now let set the folder path and tell python where to find the zip file called Birmingham.zip

# Step 1 - Data Collection

In [3]:
p = Path.home() #Create a variable
BirminghamFile = zipfile.ZipFile('Birmingham.zip')
BirminghamFile.extractall()
BirminghamFile.close()

# Step 2 - Exploring the data in general and understanding each column and rows

# Step 3 - Looking the buisness at the buisness question asked which quarter has Birmingham the highest social deprivation from jan 2015 : Jan 2019

Finding s, we founnd out the social deprivation data set had no date column but within the context of the question top look
at the gighest quaters

so, solution was  data manipulation to bring in anothe file called birmingham dataset which we unzipped

In this context we have two dataset (Birmingham and Social Deprivation)one of the shared column is the 'LSOA code' column.
The desire result is to have one table with both 'LSOA and Date'

# Applying data engineering tech to bring the data into shape

Line 1: Importing the pandas library as pd

Line 3 and 4: here we're importing each table as a dataframe using the pandas.read_excel method
    
    we also specify names of the workshees to make two distinct dataframe, representing the same two dataset.

You can think dataframes as tables
df1 = Birghmigham and social Deprivation

df2 = Birghmingham

In [4]:
Domains_Of_Deprivation = pd.read_excel('File_2_-_IoD2019_Domains_of_Deprivation.xlsx', sheet_name = 'IoD2019 Domains')
Domains_Of_Deprivation.head(3)

,LSOA code (2011),LSOA name (2011),Local Authority District code (2019),Local Authority District name (2019),Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived),Index of Multiple Deprivation (IMD) Decile (where 1 is most deprived 10% of LSOAs),Income Rank (where 1 is most deprived),Income Decile (where 1 is most deprived 10% of LSOAs),Employment Rank (where 1 is most deprived),Employment Decile (where 1 is most deprived 10% of LSOAs),"Education, Skills and Training Rank (where 1 is most deprived)","Education, Skills and Training Decile (where 1 is most deprived 10% of LSOAs)",Health Deprivation and Disability Rank (where 1 is most deprived),Health Deprivation and Disability Decile (where 1 is most deprived 10% of LSOAs),Crime Rank (where 1 is most deprived),Crime Decile (where 1 is most deprived 10% of LSOAs),Barriers to Housing and Services Rank (where 1 is most deprived),Barriers to Housing and Services Decile (where 1 is most deprived 10% of LSOAs),Living Environment Rank (where 1 is most deprived),Living Environment Decile (where 1 is most deprived 10% of LSOAs)
0,E01000001,City of London 001A,E09000001,City of London,29199,9,32831,10,32742,10,32842,10,32113,10,32662,10,7319,3,7789,3
1,E01000002,City of London 001B,E09000001,City of London,30379,10,29901,10,31190,10,32832,10,29705,10,32789,10,11707,4,13070,4
2,E01000003,City of London 001C,E09000001,City of London,14915,5,18510,6,15103,5,26386,9,17600,6,29363,9,2157,1,4092,2

In [5]:
Domains_Of_Deprivation.shape #Checking the shape of the data

(32844, 20)

In [6]:
Domains_Of_Deprivation.columns #Checking the column names

Index(['LSOA code (2011)', 'LSOA name (2011)',
       'Local Authority District code (2019)',
       'Local Authority District name (2019)',
       'Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived)',
       'Index of Multiple Deprivation (IMD) Decile (where 1 is most deprived 10% of LSOAs)',
       'Income Rank (where 1 is most deprived)',
       'Income Decile (where 1 is most deprived 10% of LSOAs)',
       'Employment Rank (where 1 is most deprived)',
       'Employment Decile (where 1 is most deprived 10% of LSOAs)',
       'Education, Skills and Training Rank (where 1 is most deprived)',
       'Education, Skills and Training Decile (where 1 is most deprived 10% of LSOAs)',
       'Health Deprivation and Disability Rank (where 1 is most deprived)',
       'Health Deprivation and Disability Decile (where 1 is most deprived 10% of LSOAs)',
       'Crime Rank (where 1 is most deprived)',
       'Crime Decile (where 1 is most deprived 10% of LSOAs)',
       'Barriers to Housing and Services Rank (where 1 is most deprived)',
       'Barriers to Housing and Services Decile (where 1 is most deprived 10% of LSOAs)',
       'Living Environment Rank (where 1 is most deprived)',
       'Living Environment Decile (where 1 is most deprived 10% of LSOAs)'],
      dtype='object')

In [7]:
import glob

In [8]:
path = 'C:/Users/fahd/Documents/A NIIT FOLDER/A)Practise Folder/Python/Python files and docs/Pandas/Birmingham' #Step
#The next code: *.csv match only files: that end with file extension.csv

fromfolder = glob.glob(os.path.join(path, "*.csv"))

birminghamfiles = (pd.read_csv(f, sep = ',') for  f in fromfolder)

birminghamfiles

# Time to concat this variable called birmingham

In [9]:
df_merged = pd.concat(birminghamfiles, ignore_index = True)
df_merged

,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Context
0,NaN,2015-01,British Transport Police,British Transport Police,-0.271604,50.834400,On or near Shoreham-By-Sea,E01031365,Adur 002D,Other theft,NaN,NaN
1,NaN,2015-01,British Transport Police,British Transport Police,-0.271604,50.834400,On or near Shoreham-By-Sea,E01031365,Adur 002D,Other theft,NaN,NaN
2,NaN,2015-01,British Transport Police,British Transport Police,-0.271604,50.834400,On or near Shoreham-By-Sea,E01031365,Adur 002D,Theft from the person,NaN,NaN
3,NaN,2015-01,British Transport Police,British Transport Police,-0.271604,50.834400,On or near Shoreham-By-Sea,E01031365,Adur 002D,Vehicle crime,NaN,NaN
4,NaN,2015-01,British Transport Police,British Transport Police,-0.323543,50.827200,On or near Lancing,E01031342,Adur 008B,Public order,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1601656,b90c8dd50029069a330a401a59805ddb6042b94be8d83f...,2019-12,West Midlands Police,West Midlands Police,-2.120034,52.577954,On or near All Saints Road,E01010530,Wolverhampton 035H,Violence and sexual offences,Unable to prosecute suspect,NaN
1601657,9417957f2a0091077593cd99efd6a53859967bceef5862...,2019-12,West Midlands Police,West Midlands Police,-2.120714,52.583904,On or near Pedestrian Subway,E01010530,Wolverhampton 035H,Violence and sexual offences,Awaiting court outcome,NaN
1601658,78b4f4a19d3adda3a071c32de5143fc0fa2bcdb3f71ec6...,2019-12,West Midlands Police,West Midlands Police,-2.120286,52.578475,On or near Maxwell Road,E01010530,Wolverhampton 035H,Violence and sexual offences,Investigation complete; no suspect identified,NaN
1601659,54b927d76c63097c6edfa0564015aeda61e366374b16f6...,2019-12,West Midlands Police,West Midlands Police,-2.116401,52.582677,On or near York Street,E01010530,Wolverhampton 035H,Violence and sexual offences,Unable to prosecute suspect,NaN
1601660,d015ded62a99d9236e1a42fb4b49e055d9d6086f8bdf15...,2019-12,West Midlands Police,West Midlands Police,-7.547692,54.517074,On or near,NaN,NaN,Criminal damage and arson,Investigation complete; no suspect identified,NaN

In [10]:
df_merged.head(10)

,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Context
0,NaN,2015-01,British Transport Police,British Transport Police,-0.271604,50.8344,On or near Shoreham-By-Sea,E01031365,Adur 002D,Other theft,NaN,NaN
1,NaN,2015-01,British Transport Police,British Transport Police,-0.271604,50.8344,On or near Shoreham-By-Sea,E01031365,Adur 002D,Other theft,NaN,NaN
2,NaN,2015-01,British Transport Police,British Transport Police,-0.271604,50.8344,On or near Shoreham-By-Sea,E01031365,Adur 002D,Theft from the person,NaN,NaN
3,NaN,2015-01,British Transport Police,British Transport Police,-0.271604,50.8344,On or near Shoreham-By-Sea,E01031365,Adur 002D,Vehicle crime,NaN,NaN
4,NaN,2015-01,British Transport Police,British Transport Police,-0.323543,50.8272,On or near Lancing,E01031342,Adur 008B,Public order,NaN,NaN
5,NaN,2015-01,British Transport Police,British Transport Police,-0.323543,50.8272,On or near Lancing,E01031342,Adur 008B,Violence and sexual offences,NaN,NaN
6,NaN,2015-01,British Transport Police,British Transport Police,-3.494100,54.7117,On or near Maryport,E01019114,Allerdale 004D,Anti-social behaviour,NaN,NaN
7,NaN,2015-01,British Transport Police,British Transport Police,-3.494100,54.7117,On or near Maryport,E01019114,Allerdale 004D,Violence and sexual offences,NaN,NaN
8,NaN,2015-01,British Transport Police,British Transport Police,-0.640432,50.8308,On or near Barnham,E01031393,Arun 003A,Anti-social behaviour,NaN,NaN
9,NaN,2015-01,British Transport Police,British Transport Police,-0.640432,50.8308,On or near Barnham,E01031393,Arun 003A,Bicycle theft,NaN,NaN

In [11]:
print(df_merged['Month'].unique())
print(df_merged['Month'].nunique())

['2015-01' '2015-02' '2015-03' '2015-04' '2015-05' '2015-06' '2015-07'
 '2015-08' '2015-09' '2015-10' '2015-11' '2015-12' '2016-01' '2016-02'
 '2016-03' '2016-04' '2016-05' '2016-06' '2016-07' '2016-08' '2016-09'
 '2016-10' '2016-11' '2016-12' '2017-01' '2017-02' '2017-03' '2017-04'
 '2017-05' '2017-06' '2017-07' '2017-08' '2017-09' '2017-10' '2017-11'
 '2017-12' '2018-01' '2018-02' '2018-03' '2018-04' '2018-05' '2018-06'
 '2018-07' '2018-08' '2018-09' '2018-10' '2018-11' '2018-12' '2019-01'
 '2019-02' '2019-03' '2019-04' '2019-05' '2019-06' '2019-07' '2019-08'
 '2019-09' '2019-10' '2019-11' '2019-12']
60

In [12]:
df_merged.isnull().sum() #Checking for the missing values

Crime ID                  481400
Month                          0
Reported by                    0
Falls within                   0
Longitude                      0
Latitude                       0
Location                       0
LSOA code                   7182
LSOA name                   7182
Crime type                     0
Last outcome category     481400
Context                  1601661
dtype: int64

# Copy the df_merged  to the new name all_birmingham

In [13]:
all_birmingham = df_merged
#Transfer all variable name to a new simple name all_birmingham

# Exporting to csv

In [14]:
df_merged.to_csv("all_birmingham.csv", index_label = False, index = False)

In [19]:
all_birmingham = pd.read_csv('all_birmingham.csv')

all_birmingham.head(3)

,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Context
0,NaN,2015-01,British Transport Police,British Transport Police,-0.271604,50.8344,On or near Shoreham-By-Sea,E01031365,Adur 002D,Other theft,NaN,NaN
1,NaN,2015-01,British Transport Police,British Transport Police,-0.271604,50.8344,On or near Shoreham-By-Sea,E01031365,Adur 002D,Other theft,NaN,NaN
2,NaN,2015-01,British Transport Police,British Transport Police,-0.271604,50.8344,On or near Shoreham-By-Sea,E01031365,Adur 002D,Theft from the person,NaN,NaN

# Step7 Taking a look at the column

In [20]:
all_birmingham.columns

Index(['Crime ID', 'Month', 'Reported by', 'Falls within', 'Longitude',
       'Latitude', 'Location', 'LSOA code', 'LSOA name', 'Crime type',
       'Last outcome category', 'Context'],
      dtype='object')

# Step 8 Get rid of the useless column

In [21]:
del  all_birmingham['Crime ID']
del  all_birmingham['Reported by']
del  all_birmingham['Context']
del  all_birmingham['Falls within']

In [22]:
all_birmingham.columns

Index(['Month', 'Longitude', 'Latitude', 'Location', 'LSOA code', 'LSOA name',
       'Crime type', 'Last outcome category'],
      dtype='object')

In [23]:
all_birmingham.shape

(1601661, 8)

# Step 11 Data cleaning renaming month to date

In [24]:
all_birmingham.head(2)

,Month,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category
0,2015-01,-0.271604,50.8344,On or near Shoreham-By-Sea,E01031365,Adur 002D,Other theft,NaN
1,2015-01,-0.271604,50.8344,On or near Shoreham-By-Sea,E01031365,Adur 002D,Other theft,NaN

# Renamme column monthly to date

In [25]:
all_birmingham = all_birmingham.rename(columns = {'Month':'Date'})
all_birmingham

,Date,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category
0,2015-01,-0.271604,50.834400,On or near Shoreham-By-Sea,E01031365,Adur 002D,Other theft,NaN
1,2015-01,-0.271604,50.834400,On or near Shoreham-By-Sea,E01031365,Adur 002D,Other theft,NaN
2,2015-01,-0.271604,50.834400,On or near Shoreham-By-Sea,E01031365,Adur 002D,Theft from the person,NaN
3,2015-01,-0.271604,50.834400,On or near Shoreham-By-Sea,E01031365,Adur 002D,Vehicle crime,NaN
4,2015-01,-0.323543,50.827200,On or near Lancing,E01031342,Adur 008B,Public order,NaN
...,...,...,...,...,...,...,...,...
1601656,2019-12,-2.120034,52.577954,On or near All Saints Road,E01010530,Wolverhampton 035H,Violence and sexual offences,Unable to prosecute suspect
1601657,2019-12,-2.120714,52.583904,On or near Pedestrian Subway,E01010530,Wolverhampton 035H,Violence and sexual offences,Awaiting court outcome
1601658,2019-12,-2.120286,52.578475,On or near Maxwell Road,E01010530,Wolverhampton 035H,Violence and sexual offences,Investigation complete; no suspect identified
1601659,2019-12,-2.116401,52.582677,On or near York Street,E01010530,Wolverhampton 035H,Violence and sexual offences,Unable to prosecute suspect
1601660,2019-12,-7.547692,54.517074,On or near,NaN,NaN,Criminal damage and arson,Investigation complete; no suspect identified

# Step 12 I think it is time to split the data

In [26]:
all_birmingham[['Years', 'Months']] = all_birmingham['Date'].str.split('-', expand = True)
all_birmingham.head(2)

,Date,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Years,Months
0,2015-01,-0.271604,50.8344,On or near Shoreham-By-Sea,E01031365,Adur 002D,Other theft,NaN,2015,01
1,2015-01,-0.271604,50.8344,On or near Shoreham-By-Sea,E01031365,Adur 002D,Other theft,NaN,2015,01

# Step 13 Checking if the date column is a pandas recognize datetime64 Format, If it is in object, then we need to change the 
Datetime

In [31]:
all_birmingham['Date'].dtype

all_birmingham.dtypes

Date                      object
Longitude                float64
Latitude                 float64
Location                  object
LSOA code                 object
LSOA name                 object
Crime type                object
Last outcome category     object
Years                     object
Months                    object
dtype: object

In [34]:
all_birmingham.Date = pd.to_datetime(all_birmingham.Date)
all_birmingham.dtypes

Date                     datetime64[ns]
Longitude                       float64
Latitude                        float64
Location                         object
LSOA code                        object
LSOA name                        object
Crime type                       object
Last outcome category            object
Years                            object
Months                           object
dtype: object

# Step 15 Lets create a new column called quarters  from birmingham  dataframe using pandas.dt.quarters

In [35]:
all_birmingham['Years'] = all_birmingham['Date'].dt.year
all_birmingham['Months'] = all_birmingham['Date'].dt.month

In [36]:
all_birmingham['Qtrs'] = all_birmingham['Date'].dt.quarter

In [37]:
all_birmingham.dtypes

Date                     datetime64[ns]
Longitude                       float64
Latitude                        float64
Location                         object
LSOA code                        object
LSOA name                        object
Crime type                       object
Last outcome category            object
Years                             int64
Months                            int64
Qtrs                              int64
dtype: object

# Step 16 - Check cols again for any changes we did above

In [38]:
all_birmingham.columns

Index(['Date', 'Longitude', 'Latitude', 'Location', 'LSOA code', 'LSOA name',
       'Crime type', 'Last outcome category', 'Years', 'Months', 'Qtrs'],
      dtype='object')

# Step 17 How many unique Quarters do we have inside the qtrs columns

In [39]:
all_birmingham['Qtrs'].unique()

array([1, 2, 3, 4], dtype=int64)

# Step 18 Working on selected birmingham data frame now

In [41]:
selectedbirmingham = all_birmingham[['LSOA code', 'LSOA name', 'Qtrs']]
selectedbirmingham.head()

   LSOA code  LSOA name  Qtrs
0  E01031365  Adur 002D     1
1  E01031365  Adur 002D     1
2  E01031365  Adur 002D     1
3  E01031365  Adur 002D     1
4  E01031342  Adur 008B     1

# Step 19 Check columns again for that domain of deprivation

In [42]:
Domains_Of_Deprivation.columns

Index(['LSOA code (2011)', 'LSOA name (2011)',
       'Local Authority District code (2019)',
       'Local Authority District name (2019)',
       'Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived)',
       'Index of Multiple Deprivation (IMD) Decile (where 1 is most deprived 10% of LSOAs)',
       'Income Rank (where 1 is most deprived)',
       'Income Decile (where 1 is most deprived 10% of LSOAs)',
       'Employment Rank (where 1 is most deprived)',
       'Employment Decile (where 1 is most deprived 10% of LSOAs)',
       'Education, Skills and Training Rank (where 1 is most deprived)',
       'Education, Skills and Training Decile (where 1 is most deprived 10% of LSOAs)',
       'Health Deprivation and Disability Rank (where 1 is most deprived)',
       'Health Deprivation and Disability Decile (where 1 is most deprived 10% of LSOAs)',
       'Crime Rank (where 1 is most deprived)',
       'Crime Decile (where 1 is most deprived 10% of LSOAs)',
       'Barriers to Housing and Services Rank (where 1 is most deprived)',
       'Barriers to Housing and Services Decile (where 1 is most deprived 10% of LSOAs)',
       'Living Environment Rank (where 1 is most deprived)',
       'Living Environment Decile (where 1 is most deprived 10% of LSOAs)'],
      dtype='object')

# Step 20 Do i need to remove some columns that arent important  using del function
Yes

In [43]:
del Domains_Of_Deprivation['Local Authority District code (2019)']
del Domains_Of_Deprivation['Local Authority District name (2019)']

In [44]:
Domains_Of_Deprivation.columns

Index(['LSOA code (2011)', 'LSOA name (2011)',
       'Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived)',
       'Index of Multiple Deprivation (IMD) Decile (where 1 is most deprived 10% of LSOAs)',
       'Income Rank (where 1 is most deprived)',
       'Income Decile (where 1 is most deprived 10% of LSOAs)',
       'Employment Rank (where 1 is most deprived)',
       'Employment Decile (where 1 is most deprived 10% of LSOAs)',
       'Education, Skills and Training Rank (where 1 is most deprived)',
       'Education, Skills and Training Decile (where 1 is most deprived 10% of LSOAs)',
       'Health Deprivation and Disability Rank (where 1 is most deprived)',
       'Health Deprivation and Disability Decile (where 1 is most deprived 10% of LSOAs)',
       'Crime Rank (where 1 is most deprived)',
       'Crime Decile (where 1 is most deprived 10% of LSOAs)',
       'Barriers to Housing and Services Rank (where 1 is most deprived)',
       'Barriers to Housing and Services Decile (where 1 is most deprived 10% of LSOAs)',
       'Living Environment Rank (where 1 is most deprived)',
       'Living Environment Decile (where 1 is most deprived 10% of LSOAs)'],
      dtype='object')

# Step 22 Renaming the ccolumns LSOA to LSOA name & LSOA name(2011) to LSOA name

In [65]:
Domains_Of_Deprivation.columns

Index(['LSOA code (2011)', 'LSOA name (2011)',
       'Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived)',
       'Index of Multiple Deprivation (IMD) Decile (where 1 is most deprived 10% of LSOAs)',
       'Income Rank (where 1 is most deprived)',
       'Income Decile (where 1 is most deprived 10% of LSOAs)',
       'Employment Rank (where 1 is most deprived)',
       'Employment Decile (where 1 is most deprived 10% of LSOAs)',
       'Education, Skills and Training Rank (where 1 is most deprived)',
       'Education, Skills and Training Decile (where 1 is most deprived 10% of LSOAs)',
       'Health Deprivation and Disability Rank (where 1 is most deprived)',
       'Health Deprivation and Disability Decile (where 1 is most deprived 10% of LSOAs)',
       'Crime Rank (where 1 is most deprived)',
       'Crime Decile (where 1 is most deprived 10% of LSOAs)',
       'Barriers to Housing and Services Rank (where 1 is most deprived)',
       'Barriers to Housing and Services Decile (where 1 is most deprived 10% of LSOAs)',
       'Living Environment Rank (where 1 is most deprived)',
       'Living Environment Decile (where 1 is most deprived 10% of LSOAs)'],
      dtype='object')

In [66]:
all_birmingham.columns

Index(['Date', 'Longitude', 'Latitude', 'Location', 'LSOA code', 'LSOA name',
       'Crime type', 'Last outcome category', 'Years', 'Months', 'Qtrs'],
      dtype='object')

In [78]:
Domain_Of_Deprivation =  Domains_Of_Deprivation.rename(columns = {'LSOA name (2011)' :  'LSOA name'})
Domain_Of_Deprivation =  Domains_Of_Deprivation.rename(columns = {'LSOA code (2011)' : 'LSOA code'})

In [79]:
Domain_Of_Deprivation.columns #To confirm

Index(['LSOA code', 'LSOA name (2011)',
       'Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived)',
       'Index of Multiple Deprivation (IMD) Decile (where 1 is most deprived 10% of LSOAs)',
       'Income Rank (where 1 is most deprived)',
       'Income Decile (where 1 is most deprived 10% of LSOAs)',
       'Employment Rank (where 1 is most deprived)',
       'Employment Decile (where 1 is most deprived 10% of LSOAs)',
       'Education, Skills and Training Rank (where 1 is most deprived)',
       'Education, Skills and Training Decile (where 1 is most deprived 10% of LSOAs)',
       'Health Deprivation and Disability Rank (where 1 is most deprived)',
       'Health Deprivation and Disability Decile (where 1 is most deprived 10% of LSOAs)',
       'Crime Rank (where 1 is most deprived)',
       'Crime Decile (where 1 is most deprived 10% of LSOAs)',
       'Barriers to Housing and Services Rank (where 1 is most deprived)',
       'Barriers to Housing and Services Decile (where 1 is most deprived 10% of LSOAs)',
       'Living Environment Rank (where 1 is most deprived)',
       'Living Environment Decile (where 1 is most deprived 10% of LSOAs)'],
      dtype='object')

# Step 25 - unpivot using pandas melt function which is quite crucial

Unpivot data - i need to manipulate  the social Deprivation table or Data frame by unpivooting the columns into rows

Using pandas merge function which is equivalent to excel vlookup, i am looking for the share column between the unpivoted
Domains_Of_Deprivation and selectbirmingham dataframe  and the following are the columns between them LSOA code and LSOA codde