In [1]:
import pandas as pd

In [6]:
train = pd.read_csv('train.csv')

In [7]:
data.shape

(20216100, 4)

In [8]:
metadata = pd.read_csv('building_metadata.csv')

In [9]:
metadata.shape

(1449, 6)

In [10]:
weather = pd.read_csv('weather_train.csv')

In [11]:
weather.shape

(139773, 9)

In [12]:
metadata.columns

Index(['site_id', 'building_id', 'primary_use', 'square_feet', 'year_built',
       'floor_count'],
      dtype='object')

In [13]:
weather.columns

Index(['site_id', 'timestamp', 'air_temperature', 'cloud_coverage',
       'dew_temperature', 'precip_depth_1_hr', 'sea_level_pressure',
       'wind_direction', 'wind_speed'],
      dtype='object')

In [14]:
data = pd.merge(metadata, weather)

In [15]:
data.head()

,site_id,building_id,primary_use,square_feet,year_built,floor_count,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
0,0,0,Education,7432,2008.0,NaN,2016-01-01 00:00:00,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
1,0,0,Education,7432,2008.0,NaN,2016-01-01 01:00:00,24.4,NaN,21.1,-1.0,1020.2,70.0,1.5
2,0,0,Education,7432,2008.0,NaN,2016-01-01 02:00:00,22.8,2.0,21.1,0.0,1020.2,0.0,0.0
3,0,0,Education,7432,2008.0,NaN,2016-01-01 03:00:00,21.1,2.0,20.6,0.0,1020.1,0.0,0.0
4,0,0,Education,7432,2008.0,NaN,2016-01-01 04:00:00,20.0,2.0,20.0,-1.0,1020.0,250.0,2.6

In [16]:
data.shape

(12676166, 14)

In [18]:
train.columns

Index(['building_id', 'meter', 'timestamp', 'meter_reading'], dtype='object')

In [19]:
Newdata = pd.merge(data, train)

In [20]:
Newdata.shape

(20125605, 16)

# Mr Fisal This is the newly structured dataframe soo check it out and let me know your thought

In [22]:
Newdata.head() #The first five row of the dataset

,site_id,building_id,primary_use,square_feet,year_built,floor_count,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,meter,meter_reading
0,0,0,Education,7432,2008.0,NaN,2016-01-01 00:00:00,25.0,6.0,20.0,NaN,1019.7,0.0,0.0,0,0.0
1,0,0,Education,7432,2008.0,NaN,2016-01-01 01:00:00,24.4,NaN,21.1,-1.0,1020.2,70.0,1.5,0,0.0
2,0,0,Education,7432,2008.0,NaN,2016-01-01 02:00:00,22.8,2.0,21.1,0.0,1020.2,0.0,0.0,0,0.0
3,0,0,Education,7432,2008.0,NaN,2016-01-01 03:00:00,21.1,2.0,20.6,0.0,1020.1,0.0,0.0,0,0.0
4,0,0,Education,7432,2008.0,NaN,2016-01-01 04:00:00,20.0,2.0,20.0,-1.0,1020.0,250.0,2.6,0,0.0

In [23]:
Newdata.shape

(20125605, 16)

# This dataset have 16 columns and over 20 million row.. My computer keeps crashing...lol

In [24]:
Newdata.columns #These are the names of the columns or input, the last column the meter_reading is the target column

Index(['site_id', 'building_id', 'primary_use', 'square_feet', 'year_built',
       'floor_count', 'timestamp', 'air_temperature', 'cloud_coverage',
       'dew_temperature', 'precip_depth_1_hr', 'sea_level_pressure',
       'wind_direction', 'wind_speed', 'meter', 'meter_reading'],
      dtype='object')

# This is just to carry you along, Over 20 million rows now, I will definetly be dropping some rows and columns during the preprocessing for somme reasons

In [25]:
Newdata.to_csv('Energy_Cconsumption.csv', index = False)