<a href="https://colab.research.google.com/github/Opeyemiiii/opeyemi_python_and_Machine-learning_project_portfolio/blob/main/ENERGY_CONSUMPTION_WITH_XGBOOST.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from xgboost import XGBRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [ ]:
data = pd.read_csv("/content/Energy_consumption_rawdata.csv")
data.head()

,site_id,building_id,primary_use,square_feet,year_built,floor_count,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,meter,meter_reading
0,13,1124,Lodging/residential,153299.0,NaN,NaN,2016-07-26 05:00:00,25.6,0.0,17.8,0.0,1016.6,210.0,1.5,0.0,236.9860
1,3,363,Education,69300.0,2017.0,NaN,2016-09-14 03:00:00,24.4,6.0,18.9,0.0,1020.3,170.0,4.6,0.0,4.9000
2,1,143,Office,40085.0,NaN,4.0,2016-10-05 01:00:00,13.5,0.0,10.1,NaN,1030.0,90.0,5.7,0.0,37.9090
3,2,169,Education,179559.0,2006.0,NaN,2016-03-10 23:00:00,28.9,2.0,-7.8,0.0,1012.2,0.0,0.0,0.0,488.9100
4,13,1211,Office,94988.0,NaN,NaN,2016-10-17 10:00:00,18.9,NaN,16.7,0.0,998.5,250.0,2.1,1.0,0.6664

In [ ]:
data.shape

(45018, 16)

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("/content/Energy_consumption_rawdata.csv", sep='\t')

In [ ]:
data.shape

(10554377, 1)