In [1]:
import pandas as pd
import statsmodels.api as sm

In [7]:
from pandas import DataFrame

In [2]:
stock_market = pd.read_excel("stocks.xlsx")
stock_market.head()

   Year  Month  Interest_Rate  Unemployment_Rate  Stock_Index_Price
0  2017     12           2.75                5.3               1464
1  2017     11           2.50                5.3               1394
2  2017     10           2.50                5.3               1357
3  2017      9           2.50                5.3               1293
4  2017      8           2.50                5.4               1256

In [3]:
stock_market.describe()

,Year,Month,Interest_Rate,Unemployment_Rate,Stock_Index_Price
count,24.000000,24.000000,24.000000,24.00000,24.000000
mean,2016.500000,6.500000,2.072917,5.77500,1070.083333
std,0.510754,3.526299,0.349527,0.33002,210.735341
min,2016.000000,1.000000,1.750000,5.30000,704.000000
25%,2016.000000,3.750000,1.750000,5.50000,928.250000
50%,2016.500000,6.500000,2.000000,5.85000,1061.000000
75%,2017.000000,9.250000,2.500000,6.10000,1239.000000
max,2017.000000,12.000000,2.750000,6.20000,1464.000000

In [8]:
df = DataFrame(stock_market, columns = ['Year', 'Month','Interest_Rate', 'Unemployment_Rate', 'Stock_Index_Price'])

In [9]:
df.head()

   Year  Month  Interest_Rate  Unemployment_Rate  Stock_Index_Price
0  2017     12           2.75                5.3               1464
1  2017     11           2.50                5.3               1394
2  2017     10           2.50                5.3               1357
3  2017      9           2.50                5.3               1293
4  2017      8           2.50                5.4               1256


# Train_Test_Split

In [12]:
X  = df[['Interest_Rate', 'Unemployment_Rate']]
X.head()

   Interest_Rate  Unemployment_Rate
0           2.75                5.3
1           2.50                5.3
2           2.50                5.3
3           2.50                5.3
4           2.50                5.4

In [13]:
Y = df['Stock_Index_Price']
Y.head()

0    1464
1    1394
2    1357
3    1293
4    1256
Name: Stock_Index_Price, dtype: int64

In [16]:
X = sm.add_constant(X)

X.head()

   const  Interest_Rate  Unemployment_Rate
0    1.0           2.75                5.3
1    1.0           2.50                5.3
2    1.0           2.50                5.3
3    1.0           2.50                5.3
4    1.0           2.50                5.4

# Time to Fit the Model

In [17]:
model = sm.OLS(Y, X).fit()

model

# Lets run the model to forcast Y

In [18]:
predictions = model.predict(X)
predictions

0     1422.862389
1     1336.477367
2     1336.477367
3     1336.477367
4     1311.462710
5     1261.433395
6     1286.448053
7     1200.063031
8     1200.063031
9     1175.048374
10    1063.648695
11    1013.619381
12     988.604723
13     927.234359
14     952.249016
15     877.205045
16     852.190387
17     877.205045
18     877.205045
19     877.205045
20     927.234359
21     852.190387
22     852.190387
23     877.205045
dtype: float64

# Model Evaluation

In [19]:
print_model = model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:      Stock_Index_Price   R-squared:                       0.898
Model:                            OLS   Adj. R-squared:                  0.888
Method:                 Least Squares   F-statistic:                     92.07
Date:                Fri, 14 Jan 2022   Prob (F-statistic):           4.04e-11
Time:                        15:13:42   Log-Likelihood:                -134.61
No. Observations:                  24   AIC:                             275.2
Df Residuals:                      21   BIC:                             278.8
Df Model:                           2
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
const              1798.4040    899.248      2.000      0.059     -71.685    3668.493
Interest_Rate       345.5401    111.367      3.103      0.005     113.940     577.140
Unemployment_Rate  -250.1466    117.950     -2.121      0.046    -495.437      -4.856
==============================================================================
Omnibus:                        2.691   Durbin-Watson:                   0.530
Prob(Omnibus):                  0.260   Jarque-Bera (JB):                1.551
Skew:                          -0.612   Prob(JB):                        0.461
Kurtosis:                       3.226   Cond. No.                         394.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [22]:
stock_index_price = (1798.4040) + (345.5401)*(2.75) + (-250.1466)*(5.3)
stock_index_price

1422.862295

In [ ]:
Formular Y = A + M1x1 + M2X2

A = coefficient
M = Slope
X = Dependent Variable